################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/WebApplication1
/WebApplication1/bin/Debug/netcoreapp3.1
/WebApplication1/obj

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl

# logs
*.log

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak